/* Algemene stijlen */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Zwarte achtergrond */
    color: #fff; /* Witte tekst */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B80C0C; /* Donkerrode kleur voor de header */
    padding: 10px 20px;
}

#logo img {
    width: 5px; /* Pas dit aan afhankelijk van je logo */
    height: auto;
}

#discord-btn a {
    background-color: #fff; /* Witte knop */
    color: #B80C0C; /* Donkerrode tekstkleur */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#discord-btn a:hover {
    background-color: #B80C0C; /* Donkerrood wanneer je erover heen gaat */
    color: #fff; /* Witte tekstkleur bij hover */
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #B80C0C; /* Donkerrood voor de koptekst */
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #fff;
}

