body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}

header {
    background-color: #901A16;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 50px;
}

#buttons .button {
    background-color: white;
    color: #901A16;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#server-image {
    width: 300px;
    border-radius: 15px;
    margin-right: 20px;
}

#server-info {
    max-width: 500px;
    text-align: left;
}

#server-details {
    background-color: #901A16;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #901A16;
}
