body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #901A16;
    padding: 15px;
}

#logo img {
    height: 50px;
}

#buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #ff4444;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.btn:hover {
    background-color: #cc0000;
}

#info {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.text {
    width: 50%;
}

.image img {
    width: 500px; /* Verklein het plaatje */
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
